#body{
    background-image: url("/images/piz3.jpg");
    background-repeat: no-repeat;
    height: 5%;

}
#p1{
    text-align: center;
    color: yellowgreen;
}
.row{
    color: yellowgreen;
}
h1{
    color: yellow;
    text-align: center;
}
h2{
    color: yellowgreen;
}
#col1{
    padding-left: 2.5cm;
}
.total{
    color: teal;
}
#deliver{
    background-image: url("/images/piz3.jpg");
    background-position: fixed;
}
#form input{
    text-align: center;
    margin-left: 15cm;
}
#btn a{
    background-color: white;
    padding: 5px;
    text-decoration: none;
    color: black;
}
#btn a:hover{
    background-color: gray;
    color: black;
    padding: 5px;
}
#h7{
    color: rgb(255, 136, 0);
}
#img{
    text-align: center;
}
#img2{
    text-align: center;
}