#body{
    background-image: url("/images/piz3.jpg");
    background-repeat: no-repeat;
    height: 5%;

}
#p1{
    text-align: center;
    color: yellowgreen;
}
.row{
    color: yellowgreen;
}
h1{
    color: yellow;
    text-align: center;
}
h2{
    color: yellowgreen;
}
#col1{
    padding-left: 2.5cm;
}
.total{
    color: teal;
}
#deliver{
    background-image: url("/images/piz3.jpg");
}
#form input{
    text-align: center;
}